.erizabesu {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.erizabesu .boards {
  width: 100%;
  height: 100%;
  white-space: nowrap;
}
.erizabesu .boards .board {
  display: inline-block;
  width: 100%;
  height: 100%;
  background-size: cover;
}
